/* 全域設定 */

.text-justify{
  text-align: justify;
}

.mb-200{
  margin-bottom: 200px;
}

/* -----------------------------全域設定 */




.activity-title {
  color: #af423a !important;
}
















/* button */




button.activity-title[aria-expanded="true"] {
  color: #fcad24 !important;
}

button.activity-title[aria-expanded="false"] {
  color:  #af423a !important;
}


/* button */

















